[Unit]
Description=DNSMasq DHCP, DNS, and TFTP service
Documentation=https://github.com/coreos/matchbox/contrib/dnsmasq/

[Service]
ExecStartPre=/usr/bin/iptables -t nat -I POSTROUTING -o wlan0 -j MASQUERADE
ExecStart=/usr/bin/dnsmasq -d -q \
	--dhcp-range=172.30.30.10,172.30.30.99 \
	--enable-tftp \
	--tftp-root=/var/lib/tftpboot \
	--dhcp-userclass=set:ipxe,iPXE \
	--dhcp-boot=tag:ipxe,http://provision.demo.cycore.io:8080/boot.ipxe \
	--dhcp-match=set:efi64,60,PXEClient:Arch:00007 \
	--dhcp-match=set:efi64,60,PXEClient:Arch:00009 \
	--dhcp-boot=tag:efi64,tag:#ipxe,ipxe.efi \
	--dhcp-match=set:bios,60,PXEClient:Arch:00000 \
	--dhcp-boot=tag:bios,tag:#ipxe,undionly.kpxe \
	--address=/provision.demo.cycore.io/172.30.30.1 \
	--dhcp-host=84:39:be:64:4a:65,172.30.30.101 \
	--dhcp-host=78:f2:9e:90:47:9b,172.30.30.102 \
	--dhcp-host=78:f2:9e:90:47:99,172.30.30.103 \
	--log-dhcp
ExecStartPre=/usr/bin/iptables -t nat -D POSTROUTING -o wlan0 -j MASQUERADE

ProtectHome=yes
ProtectSystem=full

Restart=always
RestartSec=5
TimeoutStartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
